html, body {
    padding: 50px;
    margin: 0;
    box-sizing: border-box;
    /* background-image: url("https://media.tenor.com/wJp4mt2IAMYAAAAC/korwin.gif"); */
    background-size: cover;
}

canvas {
    border: 1px solid black;
}